body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.margem1{
    width: 60%;
    max-width: 800px;
    padding: 20px;
    text-align:left;
    border: 50px solid #d4c2c2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.margem2{
    width: 60%;
    max-width: 800px;
    padding: 20px;
    text-align:left;
    border: 50px solid #d4c2c2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}