body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    margin: 100px;
    
    background: linear-gradient(45deg, #abb19a, #feb47b, #9aaed3, #aec5c4);
}
div{
    background-color: #d4c2c2;
    justify-content: center;
    margin-top: 3%;
    
    
}
.margem1{
    width: 60%;
    max-width: 800px;
    padding: 20px;
    text-align:left;
    border: 50px solid #d4c2c2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.margem2{
    width: 60%;
    max-width: 800px;
    padding: 20px;
    text-align:left;
    border: 50px solid #d4c2c2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}